docker {
	enabled = true
	temp = 'auto'
	runOptions = '-u $(id -u):$(id -g)'
}


profiles {
	standard {
		process.executor	=	'local'
		process.cpus		=	8
		process.memory		=	'16 GB'
	}

	hpc {
		process.executor	=	'local'
		process.cpus		=	32
		process.memory		=	'128 GB'
	}
}

params {

        reference                               =                       "$baseDir/assets/genomes/HXB2_1867to5058.fasta"
        primer                                  =                       "$baseDir/assets/primers/primerpair_pol.bed"
        medakaModel                             =                       "r941_min_hac_g507"

        hydraReportThreshold                    =                       1
        hydraConsensusPercent                   =                       20
        hydraMinReadQuality                     =                       20
        hydraMinReadLength                      =                       100
        hydraMinScoreCutoff                     =                       30
        hydraMinVariantQuality                  =                       30
        hydraMinVariantDepth                    =                       100
        hydraMinVariantFrequency                =                       0.01
        hydraMinAlleleCount                     =                       5

        nanoqMinReadQuality                     =                       10
        nanoqMaxReadQuality                     =                       100
        nanoqMinReadLength                      =                       200
        nanoqMaxReadLength                      =                       2000
        nanoqTrimStart                          =                       0
        nanoqTrimEnd                            =                       0

        sierraXML                               =                       "$baseDir/assets/HIVDB_9.4.xml"
        sierraMutationDBComments                =                       "$baseDir/assets/mutation_comments_db.csv"

        reportPDF                               =                       "$baseDir/bin/hivdr_static.Rmd"

}
